h2 {
  font-size: 3rem;
  margin-block: 4rem;
  text-align: center;
}

.location-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;

  .location {
    text-align: center;
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: #68cce6;
    width: 100%;
    min-height: 200px;

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
