<header>
  <div class="container">
    <a routerLink="/">
      <h1>{{title}}</h1>
    </a>

    <nav>
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
          <a routerLink="/episodios" routerLinkActive="active" ariaCurrentWhenActive="page">Episodios</a>
        </li>
        <li>
          <a routerLink="/locais" routerLinkActive="active" ariaCurrentWhenActive="page">Locais</a>
        </li>
        <li>
          <a routerLink="/personagens" routerLinkActive="active" ariaCurrentWhenActive="page">Personagens</a>
        </li>
      </ul>
    </nav>
  </div>
</header>