h2 {
  text-align: center;
  font-size: 3rem;
  margin-block: 4rem 2rem;

  @media (max-width: 475px) {
    font-size: 2rem;
  }
}

.character-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .character-image {
    img {
      width: 240px;
      height: 240px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    h3 {
      margin-top: 10px;
      font-size: 2rem;
      text-align: center;
    }
  }

  .character-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    span {
      font-size: 1.5rem;
    }
  }

  a {
    text-decoration: none;
    background-color: #222;
    color: #fff;
    padding: 8px 32px;
    font-size: 1.25rem;
    text-transform: uppercase;
    border-radius: 8px;
    transition: 0.3s all;

    &:hover {
      opacity: 0.8;
    }
  }
}
