.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);

  img {
    height: 200px;
    margin: auto;
  }

  .card-body {
    margin-top: auto;
    text-align: center;

    h3 {
      font-size: 1.75rem;
      margin-block: 1rem;
    }

    p {
      margin: 0 auto;
      line-height: 1.5;
    }
  }
}
