<h2>Rota Três</h2>

<ul class="characters-container">
  <li *ngFor="let character of characters">
    <div class="card">
      <img [src]="character.image" alt="{{character.name}}">
      <div class="card-body">
        <h3>{{character.name}}</h3>
        <div class="tags-container">
          <span class="tag">{{character.gender}}</span>
          <span class="tag">{{character.species}}</span>
          <span class="tag">{{character.status}}</span>
        </div>
      </div>
    </div>
  </li>
</ul>
